1. Define two variables, a and b, with values 12 and 5 respectively. Write a Python program to calculate and print their sum, difference, product, quotient, and modulus.

In [ ]:
a = 12
b = 5

print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Quotient:", a // b)
print("Modulus:", a % b)

Sum: 17
Difference: 7
Product: 60
Quotient: 2
Modulus: 2

Q2. Write a Python program to evaluate the expression (8 + 2) * (3 - 1) ** 2 / 2 and explain how the use of parentheses affects the result using comments

In [ ]:
(8 + 2) * (3 - 1) ** 2 / 2
# (10) * (2)**2 / 2
# (10) * 4 / 2
# 40/2
# 20 - final answer

20.0

Q3.Given three boolean variables, p = True, q = False, and r = True, write a Python program that evaluates and prints the result of the logical expressions p and q, p or q, and not r.

In [ ]:
p = True
q = False
r = True

print(p and q)
print(p or q)
print(not r)

False
True
False

Q4. Write a Python program to evaluate the expression 10 + 2 * 3 / 4 - 5 ** 2 and print the result. Explain the order in which the operations are performed using comments.

In [ ]:
print(10 + 2 * 3 / 4 - 5 ** 2)

# 10 + 2 * 3 / 4 - 25
# 10 + 6 / 4 - 25
# 10 + 1.5 - 25
# 11.5 - 25
# -13.5 -- Final Answer

-13.5

Q5.Create a variable to store the string "Earth revolves around the sun"
  - Print "revolves" using slice operator
  - Print "sun" using negative index
  
+ Create a string made of the middle two characters.
   - Example input: Innomatics
   - Example output: ma

In [ ]:
str1 = "Earth revolves around the sun"

print(str1[6:14])
print(str1[-3:])

str2 = "innomatics"

print(str2[4:6])

revolves
sun
ma

Q6. Write a program to create a new string made of an input stringâ€™s first, middle, and       last character.
  - Example input: Holiday
  - Example output: Hiy

In [ ]:
name = "Holiday"

first,last = name[0],name[-1]
middle_index = len(name)//2
middle = name[middle_index]

print(first,middle,last,sep='')

Hiy

Q7. Explore five different string methods and explain with examples.

In [ ]:
str1 = "Hi, Good Afternoon!"

# 1. upper() - It return a string where all characters are in upper case.
print(str1.upper())

# 2. lower() - It return a string where all characters are in lower case.
print(str1.lower())

# 3. Capitalize - It return a string where only first character is upper case and remaining characters are in lower case
print(str1.capitalize())

# 4. count() - It returns count of the occurance of particular sub-string.
print(str1.count('o'))

# 5. replace(old,new,count) - It replaces the old substring with the new sub-string and we can input the no. of times it should replace
print(str1.replace('o','z',2))      # In the output we can see that only first two occurance of 'o' is replaced with 'z'

HI, GOOD AFTERNOON!
hi, good afternoon!
Hi, good afternoon!
4
Hi, Gzzd Afternoon!

Q8.
- a. Write a program that takes a sentence ='Give papa a cup of proper coffee in a copper coffee cup' as input and replaces all occurrences of the word "coffee" with "tea".
- b. Check if the above sentence starts with "Hello" and ends with "cup".
- c. Return the above sentence in title case and capital case.

In [ ]:
s = input("Enter the sentence:")

s_new = s.replace("coffee","tea")
print(s_new)

print(s.title())
print(s.capitalize())

Enter the sentence:Give papa a cup of proper coffee in a copper coffee cup
Give papa a cup of proper tea in a copper tea cup
Give Papa A Cup Of Proper Coffee In A Copper Coffee Cup
Give papa a cup of proper coffee in a copper coffee cup