1. Explain the properties of list and tuple in the markdown cell.

+ List: A list is a collection of items (like numbers or words)
    - Properties:
        + Mutable
        + Ordered
        + Allow Duplicates
+ Tuple: A list is a collection of items (like numbers or words), simliar to lsit.
    - Properties:
        + Immutable
        + Ordered
        + Allow Duplicates

2. Create a list containing the numbers 1 to 5.

In [ ]:
l = list(range(1,6))
print(l)

[1, 2, 3, 4, 5]

3. Access the third element of the list [10, 20, 30, 40, 50].

In [ ]:
l = [10, 20, 30, 40, 50]
print(l[2])

30

4. Change the second element of the list [1, 2, 3, 4, 5] to 10.

In [ ]:
l = list(range(1,6))

l[1] = 10
print(l)

[1, 10, 3, 4, 5]

5. Add the element 6 to the end of the list [1, 2, 3, 4, 5].

In [ ]:
l = list(range(1,6))

l.append(6)
print(l)

[1, 2, 3, 4, 5, 6]

6. Concatenate the lists [1, 2, 3] and [4, 5, 6].

In [ ]:
list1,list2 = [1,2,3],[4,5,6]
list_ = list1 + list2
print(list_)

[1, 2, 3, 4, 5, 6]

7. Create a tuple containing the strings "apple", "banana", and "cherry".

In [ ]:
t = ("apple","banana","cherry")
print(t)

('apple', 'banana', 'cherry')

8. Access the first element of the tuple ("apple", "banana", "cherry").

In [ ]:
print(t[0])

apple

9. Check if the number 4 is in the list [1, 2, 3, 4, 5].

In [ ]:
l = [1, 2, 3, 4, 5]
print(4 in l)

True

10. Find the length of the list [10, 20, 30, 40, 50].

In [ ]:
l = [10, 20, 30, 40, 50]
print(len(l))

5

11. Slice the list [10, 20, 30, 40, 50] to get the sublist [20, 30, 40].

In [ ]:
l = [10, 20, 30, 40, 50]
print(l[1:4])

[20, 30, 40]

12. Unpack the tuple (10, 20, 30) into three variables.

In [ ]:
t1,t2,t3 = (10,20,30)

print(t1,t2,t3)

10 20 30

13. Count the number of times the element 2 appears in the list [1, 2, 2, 3, 4, 2,5].

In [ ]:
l = [1, 2, 2, 3, 4, 2,5]
l.count(2)

3

14. Find the maximum element in the list [1, 2, 3, 4, 5].

In [ ]:
l = [1, 2, 3, 4, 5]
print(max(l))

5

15. Convert the list [1, 2, 3, 4, 5] to a tuple.

In [ ]:
l = [1, 2, 3, 4, 5]
t = tuple(l)
print(t)

(1, 2, 3, 4, 5)

16. Extend the list [1, 2, 3] with elements from the list [4, 5, 6].

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]

l1.extend(l2)

print(l1)

[1, 2, 3, 4, 5, 6]

17. Reverse the list [1, 2, 3, 4, 5].

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[::-1])

[5, 4, 3, 2, 1]

18. Access the element 3 in the nested list [[1, 2], [3, 4], [5, 6]].

In [ ]:
l = [[1, 2], [3, 4], [5, 6]]

l[1][0]

3

19. Remove the element 4 from the list [1, 2, 3, 4, 5].

In [ ]:
l = [1, 2, 3, 4, 5]
l.remove(4)
print(l)

[1, 2, 3, 5]

20. Convert the tuple (1, 2, 3, 4, 5) to a list.

In [ ]:
t = (1, 2, 3, 4, 5)
l = list(t)
print(l)

[1, 2, 3, 4, 5]

21. Find the index of the element 3 in the list [1, 2, 3, 4, 5].

In [ ]:
l = [1, 2, 3, 4, 5]
l.index(3)

2

22. Explain why the following operation fails: t = (1, 2, 3); t[0] = 0.

Tuples are immutable, it mean you cannot change the items once the tuple is created.

23. You have a list of your favorite Marvel superheroes.
heroes=['spider man','thor','hulk','iron man','captain america']  Using this list:<br>
- find Length of the list
- Add 'black panther' at the end of this list.
- You realize that you need to add 'black panther' after 'hulk', so remove it - from the list first and then add it after 'hulk'.
- Now you don't like thor and hulk because they get angry easily ðŸ™‚. So you want to remove thor and hulk from the list and replace them with Doctor Strange (because he is cool).Do that with one line of code.
- Sort the list in alphabetical order.

In [ ]:
heroes=['spider man','thor','hulk','iron man','captain america']

#1
print("Length of the list: ",len(heroes))

#2
heroes.append('black panther')
print("2: ",heroes)

#3
heroes.remove('black panther')
heroes.insert(3,'black panther')
print("3: ",heroes)

#4
heroes[1:3]=['Doctor Strange']
print("4:",heroes)

#5
heroes.sort()
print("5:",heroes)

Length of the list:  5
2:  ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
3:  ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
4: ['spider man', 'Doctor Strange', 'black panther', 'iron man', 'captain america']
5: ['Doctor Strange', 'black panther', 'captain america', 'iron man', 'spider man']

24. Write a program to add item 7000 after 6000 in the following Python List: list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]