1. What is a set in Python? How is it different from other data structures like lists or tuples? Explain with examples.

 Set is a data structure that stores unique and unordered items. It is useful when you want to store distinct elements and perform operations like union, intersection, and difference efficiently.


*   Lists are great for ordered, mutable collections with duplicates.
*   Tuples are ordered and immutable, useful when a fixed collection is needed.

2. What is the difference between set.pop() and list.pop()? Explain with examples.

- List.pop():
    + In a list, .pop() removes and returns the last element by default, or a specified element at a given index if an index is provided. Lists are ordered, so the element removed is predictable.
- set.pop():
    + In a set, .pop() removes and returns an arbitrary element because sets are unordered. There is no index in a set, so you cannot specify which element to remove. The element returned by .pop() is not guaranteed to be the same each time, as it depends on the internal ordering of elements in the set.

In [2]:
# list
my_list = [10, 20, 30, 40, 50]

# Remove and return the last element
last_item = my_list.pop()
print(last_item)
print(my_list)

# Remove and return the element at a specific index
second_item = my_list.pop(1)
print(second_item)
print(my_list)

# Set
my_set = {10, 20, 30, 40, 50}

# Remove and return an arbitrary element
random_item = my_set.pop()
print(random_item)  # Output could be any of 10, 20, 30, 40, or 50
print(my_set)       # Output will be the remaining elements in an arbitrary order

50
[10, 20, 30, 40]
20
[10, 30, 40]
50
{20, 40, 10, 30}

3. Given the set S = {1, 2, 3, 4, 5, 76, 32, 65}, apply all built-in set functions to this example.

In [3]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [13]:
S = {1, 2, 3, 4, 5, 76, 32, 65}

# add
S.add(100)
print(S)

# pop
pop_item = S.pop()
print("pop item:",pop_item)
print(S)

# remove
S.remove(100) # removing 100 from the set
print(S)

# Update
S1 = {100,200,300}
S.update(S1) # Updating the S by adding S1
print(S)

# copy
s_copy = S.copy()
print(s_copy)

# clear
S.clear()
print(S)

{32, 1, 2, 3, 4, 5, 65, 100, 76}
pop item: 32
{1, 2, 3, 4, 5, 65, 100, 76}
{1, 2, 3, 4, 5, 65, 76}
{1, 2, 3, 4, 5, 65, 100, 200, 76, 300}
{1, 2, 3, 4, 5, 65, 100, 200, 76, 300}
set()

4. Update the first set with items that don't exist in the second set.
- s1={150,200,400}
- s2={200,750,650}
- Expected output: s1={150,400}

In [15]:
s1={150,200,400}
s2={200,750,650}

s1 - s2

{150, 400}

5. Define a set S = {apple, banana, cherry, orange}. Use Python set methods to add a new fruit 'grape' to S, remove 'banana' from S, and check the length of S.

In [16]:
S = {"apple", "banana", "cherry", "orange"}

# adding new fruit "grape"
S.add("grape")

# removing banana
S.remove("banana")

# length of S
print(S,len(S), sep="\n")

{'grape', 'apple', 'cherry', 'orange'}
4

6. dict = {“name1_marks” : [34,56,87,89], “name2_marks” : [78,98,54,34],  “name3_marks” : [87,65,97,90]}   add the marks   97  in  “name1_marks”.
Expected output : {“name1_marks” : [34,56,87,89, 97], “name2_marks” : [78,98,54,34],  “name3_marks” : [87,65,97,90]}

In [19]:
dict1 = {"name1_marks" : [34,56,87,89], "name2_marks" : [78,98,54,34], "name3_marks" : [87,65,97,90]}

dict1["name1_marks"].append(97)

print(dict1)

{'name1_marks': [34, 56, 87, 89, 97], 'name2_marks': [78, 98, 54, 34], 'name3_marks': [87, 65, 97, 90]}